name: project
description: A sample flutter application for sentry-cli integration test.
version: 1.1.0

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  sentry_dart_plugin:
    path: ./../

flutter:
  uses-material-design: true

sentry:
#  upload_debug_symbols: true
#  upload_sources: true
#  upload_source_maps: true
#  auth_token: sentry-dart-plugin-auth-token
#  project: sentry-dart-plugin
#  org: sentry-sdks
#  url: http://127.0.0.1:8000
#  log_level: debug
#  commits: false
